@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

header {
    height: 95vh;
    background-size: center;
    background-position: top;
    background-image: url("/CSS/commlogo.webp");

    .landing-text{
        position: relative;
        color: white;
        h1{
            position: absolute;
            top: 350px;
            left: 50%;
            transform: translateX(-50%);
        }
        h3{
            position: absolute;
            width: 100%;
            top: 400px;
            left:75%;
            transform: translateX(-50%);
            
        }
    }
}
.product{
    width: 100%;
    height: 70vh;
    padding: 45px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    background-color: #D9D9D9;
    
    .earphone{
        width: 300px;
        height: 300px;
        position: relative;
        background-image: url(/IMG/trybg.jpg);
        background-size: cover;

        img{
            width: 350px;
            position: absolute;
            right: -27px;
        }

    }
    .ptext{
        font-family: Raleway;
        /* display: flex;
        justify-content: space-between; */
    }
}
.creview {
    background: #000000b7;
    padding: 10px;
    height: 85vh;
}
.creview h2 {
    color: white;
    text-align: left;
}
.revs{
    font-weight: 600;
    line-height: 44px;
    margin-left: 5%;
}
.reviews{
    display: grid;
    font-weight: 100;
    color: white;

}

.reviews div div img {
    width: 100px;
}
.reviews div div .comments{
    font-size: 12px;
} 

.reviews {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;

    .card {
        width: 500px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .user {
            width: 50px;
            height: 50px;
            background: black;
            border-radius: 50%;
            padding: 5px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i {
                font-size: 3.1rem;   
            }
        }
    }
}
.comment{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 160px;
    .user {
        width: 50px;
        height: 50px;
        background: black;
        border-radius: 50%;
        padding: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i {
            font-size: 3.1rem; 
            color: white;  
        }
    }
    input{
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    button{
        width: 40px;
        height: 40px;
    }
}
    /* input{
        height: 30px;
        position: absolute;
        left: 155px;
        top: 50px;
        outline: none;
        border: none;
    }
    button{
        position: absolute;
    } */
