<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="userprofile.css">
        <title>INM AUDIO</title>
    </head>

    <body>
        <div class="sidebar">
            <div class="logo">
                <a href="../../index.php">
                    <img src="../../IMG/logo.png" alt="INM_AUDIO">
                </a>
            </div>

            <button><i class="fa-solid fa-user"></i> <p>My Account</p></button>
            <button><i class="fa-regular fa-clipboard"></i> <p>My Purchase</p></button>
        </div>

        <div class="user-profile">
            <nav class="navbar">
                <ul class="links">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="PHP/view/gearlibrary.php">Gear Library</a>
                    </li>
                    <li>
                        <a href="PHP/view/community.php">EIM Community</a>
                    </li>
                    <li>
                        <a href="PHP/view/customize.php">Customize</a>
                    </li>
                    <li>
                        <a href="PHP/view/shop.php">Shop</a>
                    </li>
                </ul>

                <div class="user">
                    <p>User Name</p>
                </div>
            </nav>

            <div class="my-account">
                <h2>My Profile</h2>

                
                <form action="">
                    <div class="username">
                        <label>Username</label>
                        <p>Username</p>
                    </div>
                    
                    <div class="input-block">
                        <label>First Name</label>
                        <input type="text" name="fname" id="fname" required>
                    </div>
                    <div class="input-block">
                        <label>Last Name</label>
                        <input type="text" name="lname" id="lname" required>
                    </div>
                    <div class="input-block">
                        <label>Email Address</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="input-block">
                        <label>Phone Number</label>
                        <input type="number" name="pnum" id="pnum" required>
                    </div>
                    <div class="input-block">
                        <label>Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="input-block">
                        <label>Confirm Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <button type="submit" name="submit">Save</button>
                </form>
            </div>

            <div class="my-purchase">
                <nav>
                    <button>All</button>
                    <button>To Pay</button>
                    <button>To Ship</button>
                    <button>To Receive</button>
                    <button>Completed</button>
                </nav>

                <div class="item">
                    <div class="parcel-note">
                        <i class="fa-solid fa-truck"></i>
                        <p>Parcel has been delivered</p> 
                        <p class="status">COMPLETED</p>
                    </div>

                    <div class="item-info">
                        <div class="item-img">
                            <img src="" alt="">
                        </div>

                        <div class="item-details">
                            <h3 class="product-name">Headphone pero isa lang natunog</h3>
                            <p class="variation">variation: LGBT Color</p>
                            <p class="quntity">x1</p>
                        </div>

                        <div class="price">
                            <p>₱59</p>
                        </div>
                    </div>

                    <div class="total">
                        <h3>Order Total: ₱59</h3>
                    </div>

                    <div class="buttons">
                        <a href="">Buy Again</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>